<!DOCTYPE html>
<html>
  <head>
    <title>Creatr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/d87675549b.js"></script>

    <meta property="og:title" content="Creatr" />
    <meta property='og:image' content="<%= image_url('creatr_linkedin.png') %>" />
    <meta property="og:description"
      content="Creatr, a full-stack clone of Flickr, allows photographers to upload and share pictures with the Creatr community." />
    <meta property="og:url" content="http://creat-r.herokuapp.com/#/" />
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('c_logo.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
